# Ignore python cache
__pycache__/
*.pyc

# Ignore heavy outputs
outputs/models/
outputs/logs/
wandb/

# Optional: Ignore all figures unless forced
outputs/figures/*
!outputs/figures/confusion_matrix.png
!outputs/figures/grad_cam_example.png
!outputs/figures/attention_map.png
